{% extends "Index.html" %}
{% block content %}
<head>
    <script type="text/javascript" src = "{{ MEDIA_URL}}/Script/budget.js">
    </script>
    </head>
<body onload = "load()">
{% if b == None %}
<!-- If user is an event coord  and no budgets are available -->
{% if not request.user.get_profile.is_finance_core  %}
You currently do not have any approved budgets available.
<!-- renders form for submitting budget !-->
<form method="POST" action = "">
{% csrf_token %}
Budget splitup for Plan A :
Item Name:<input type = "text" id = "itemA">
Price:<input type = "text" id = "priceA">
<input type="button" value="enter" onclick="enterA()">
<table summary="" id="TableA" border="2px" >
<th>Item</th>
<th>Price</th>
</table>
Budget splitup for Plan B : 
Item Name:<input type = "text" id = "itemB">
Price:<input type = "text" id = "priceB">
<input type="button" value="enter" onclick="enterB()">
<table summary="" id="TableB" border="2px" >
<th>Item</th>
<th>Price</th>
</table>
<input type="submit" value="Submit">
</form>
{% endif %}
{% else %}
<!-- If user is a finance core display plan A and plan B of the submitted budget with option to approve or reject-->
{% if request.user.get_profile.is_finance_core  or request.user.get_profile.is_finance_coord %}
{% if size == 0 %}
<span> No budget available for approval </span> 
{% endif %}
{% for budget in b %}
{{budget.event.name}}
<table summary="" border="2px" bgcolor="#aaFF00" >
<th>Item</th>
<th>Price</th>
{% for s in spA %}
<tr>
{% for t in s %}
{% if t.budgetid == budget.budgetid %}
<tr><td>{{t.item}}</td>
<td>{{t.price}}</td></tr>
{% endif %}
{% endfor %}
{% endfor %}
</table>
Total budget for Plan A:{{budget.planA}}<br>
<table summary="" border="2px" bgcolor="#aaFF00" >
<th>Item</th>
<th>Price</th>
{% for s in spB %}
{% for t in s %}
{% if t.budgetid == budget.budgetid %}
<tr><td>{{t.item}}</td>
<td>{{t.price}}</td></tr>
{% endif %}
{% endfor %}
{% endfor %}
</table>
Total budget for Plan B:{{budget.planB}}<br>
<a href="/approve/{{budget.budgetid}}/" ><button>Approve</button></a>
<a href="/reject/{{budget.budgetid}}/" ><button>Reject</button></a>

{% endfor %}

{% else %}
<!-- If user is an event core , display all budgets available !-->
{% if request.user.get_profile.is_event_core %}
{% for budget in budgets %}
{{budget.event.name}}
<table summary="" border="2px" bgcolor="#aaFF00" >
<th>Item</th>
<th>Price</th>
{% for s in sp %}
<tr>
{% for t in s %}
{% if t.budgetid == budget.budgetid %}
<tr><td>{{t.item}}</td>
<td>{{t.price}}</td></tr>
{% endif %}
{% endfor %}
{% endfor %}
</table>
{% endfor %}
{% else %}
Your budget has been approved<br>
<table summary=""border="2px" bgcolor="#aaFF00" >
<th>Item</th>
<th>Price</th>
{% for s in sp1 %}
<tr><td>{{s.item}}</td>
<td>{{s.price}}</td></tr>
{% endfor %}
</table>
Total budget for PlanA : {{b.planA}}<br>
<table summary="" border="2px" bgcolor="#aaFF00"> 
<th>Item</th>
<th>Price</th>
{% for s in sp2 %}
<tr><td>{{s.item}}</td>
<td>{{s.price}}</td></tr>
{% endfor %}
</table>
Total budget for PlanB : {{b.planB}}<br>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
</body>